<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dummy1">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dummy1"
        tools:targetApi="31">
        <activity
            android:name=".DriveActivity"
            android:exported="false"
            android:label="Driving Guide"/>
        <activity
            android:name=".TraficLightsActivity"
            android:exported="false"
            android:label="Traffic Lights Guide"/>
        <activity
            android:name=".StopeVehicleActivity"
            android:exported="false"
            android:label="Stop Vehicle Guide"/>
        <activity
            android:name=".StartVehicleActivity"
            android:exported="false"
            android:label="Start Vehicle Guide"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Drive App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VehicledetailsActivity"
            android:exported="true"
            android:label="Vehicle Details">
            <intent-filter>
                <action android:name="com.example.dummy1.VehicledetailsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MaintenanceActivity"
            android:exported="true"
            android:label="Maintenance">
            <intent-filter>
                <action android:name="com.example.dummy1.MaintenanceActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ServiceActivity"
            android:exported="true"
            android:label="Service">
            <intent-filter>
                <action android:name="com.example.dummy1.ServiceActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RepairActivity"
            android:exported="true"
            android:label="Repair">
            <intent-filter>
                <action android:name="com.example.dummy1.RepairActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GuideBookActivity"
            android:exported="true"
            android:label="Guide">
            <intent-filter>
                <action android:name="com.example.dummy1.GuideBookActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FuelActivity"
            android:exported="true"
            android:label="Fuel and Mileage">
            <intent-filter>
                <action android:name="com.example.dummy1.FuelActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>